<!DOCTYPE html>
<html>
<head>
  <title>MoviesHomework</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="faveMovies" ng-style="{ backgroundColor: {{'style'}} }">

<%= yield %>

</body>
</html>
